* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fd5e53;
}
.splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fd5e53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    margin-top: 30px;
    font-size: 40px;
    color: #f9fcfb;
}
p {
    font-family: sans-serif;
}
.welcome {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
}
.enter_link {
    display: flex;
    text-align: center;
}
h1 {
    color: #f9fcfb;
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
    color: #f9fcfb;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}
.restart {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#restart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.clickme {
    height: 200px;
    width: auto;
}
.gamemode {
    text-align: center;
    padding: 20px;
}
.avatar {
    height: 100px;
    width: auto;
}
.playerscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pcscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21bf73;
    padding: 50px 350px;
}
#result {
    font-size: 20px;
    font-family: sans-serif;
}
footer {
    display: flex;
    color: #f9fcfb;
    justify-content: center;
    padding: 20px;
}
